@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
}
table {  border-spacing:0; border-collapse: collapse ; }
iframe { border: none; }
fieldset, img { border:0; }
h1,h2,h3,h4,h5,h6 {  font-size:100%; }
li { list-style: none }
body
{
	font-size:13px;		
    margin: 0;
    background-color: #f5f6f7;
    color: #656565;
}
a
{
    font-size: 15px;
	text-decoration:none;
	color:#000;
}
.wrapper
{

}
.container
{
    padding: 15px;
}
.header
{
    background: white;
    border-bottom: 1px solid #d1d4d7;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 50px;
}
.header .brand
{
    color: #22baa0;
    text-transform: uppercase;
    border-right: 1px solid #e3e9ed;
    padding: 14px 16px 14px;
    text-align: center;
    float: left;
}

.panel-body
 {
    background: white;
    border: 1px solid #e3e8ed;
    padding: 15px;
    border-radius: 4px;
}
.login-form
{
    width: 268px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top:  -140px;
}
.form-header
{
    background-color: #f7f8f9;
    border-bottom: 1px solid #e0e4e8;
    margin: -15px -15px 10px;
    overflow: hidden;
}
.form-header .txt
{
    font-size: 14px;
    padding: 10px 10px 10px 15px;
    float: left;
}
.form-control
{
    outline: none;
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.form-control:focus {
    border-color: #13c4a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control.events
{
    display: inline-block;
    width: auto;
    padding: 5px 12px;
}
.login-wrp .btn
{
    margin-top: 15px;
}
label
{
    display: inline-block;
    margin: 5px 0 4px;
    font-weight: bold;
}
.btn
{
    outline: none !important;
}
.error
{
    border: 1px solid transparent;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    border-color: #ebccd1;
    color: #a94442;
    background: #f2dede;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
}
#mainMenu
{
    overflow: hidden;
    zoom:1;
}
.mainMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.mainMenu li {
    position: relative;
    display: inline;
    float: left;
}

.mainMenu li a {
    display: block;
    padding: 14px 20px 14px;
    text-decoration: none;
}
.mainMenu li a:hover
{
    background: #F5F5F5;
}
.panel
{
    background-color: #ffffff;
    border: 1px solid #e3e8ed;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-color: #e3e8ed;
    background: #f7f8f9;
}
.table_header th
{
    background: white;
    border-right: 1px solid #e0e4e8;
    border-bottom: 1px solid #e0e4e8;
    padding: 7px 10px;
    text-align: left;
}
.table_header th:last-child
{
    border-right: none;
}
.view-table
{
    width: 100%;
}
.view-table a, .view-table
{
    font-size: 12px;
}
.w40
{
    width: 40px;
}
.view-table td
{
    border-bottom: 1px solid #e0e4e8;
    padding: 6px 10px;
}
.view-table a:hover
{
    color: #22baa0;
}
a.ic, .view-table a.ic
{
    color: #3a5a7a;
    font-size: 14px;
}
a.ic:hover
{
    color: rgb(192, 58, 58);
}
.view-table tr:hover
{
    background: #F7FCF9;
}
.view-table tr.selected
{
    background: #F7FCF9 !important;
}
.view-table input[type='checkbox']
{
    margin-top: 3px;
}
.view-table .td_center
{
    text-align: center;
}

.tool-bar
{
    float: right;
}
.tool-bar .btn
{
    margin-bottom: 15px;
}
.form_item
{
    margin: 10px 15px;
}
.mini-tool
{
    float: right;
    margin: 4px;
    padding: 4px;
    background: white;
    border: 1px solid #e3e8ed;
    border-radius: 3px;
}
.mini-tool i
{
    margin: 0 7px;
}
.auth-name
{
    display: block;
    padding: 16px 7px;
}
.alert
{
    padding: 10px 15px;
}
.close i
{
    line-height: normal;
}
/* ######### CSS classes applied to down and right arrow images  ######### */


input[type="text"].busy
{
    background: #FAE5E5;
}
input[type="text"].not-busy
{
    background: #ECF8F0;
}
.clear
{
    clear: both;
    float: none;
}
.fields_block
{
    width: 400px;
}


