@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
}
table {  border-spacing:0; border-collapse: collapse ; }
iframe { border: none; }
fieldset, img { border:0; }
h1,h2,h3,h4,h5,h6 {  font-size:100%; }
li { list-style: none }
body
{
	font-size:13px;		
    margin: 0;
    background-color: #f5f6f7;
    color: #656565;
}
a
{
    font-size: 15px;
	text-decoration:none;
	color:#000;
}
.wrapper
{

}
.container
{
    padding: 15px;
}
.header
{
    background: white;
    border-bottom: 1px solid #d1d4d7;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 50px;
}
.header .brand
{
    color: #22baa0;
    text-transform: uppercase;
    border-right: 1px solid #e3e9ed;
    padding: 14px 16px 14px;
    text-align: center;
    float: left;
}

.panel-body
 {
    background: white;
    border: 1px solid #e3e8ed;
    padding: 15px;
    border-radius: 4px;
}
.login-form
{
    width: 268px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top:  -140px;
}
.form-header
{
    background-color: #f7f8f9;
    border-bottom: 1px solid #e0e4e8;
    margin: -15px -15px 10px;
    overflow: hidden;
}
.form-header .txt
{
    font-size: 14px;
    padding: 10px 10px 10px 15px;
    float: left;
}
.form-control
{
    outline: none;
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.form-control:focus {
    border-color: #13c4a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control.events
{
    display: inline-block;
    width: auto;
    padding: 5px 12px;
}
.login-wrp .btn
{
    margin-top: 15px;
}
label
{
    display: inline-block;
    margin: 5px 0 4px;
    font-weight: bold;
}
.btn
{
    outline: none !important;
}
.error
{
    border: 1px solid transparent;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    border-color: #ebccd1;
    color: #a94442;
    background: #f2dede;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
}
#mainMenu
{
    overflow: hidden;
    zoom:1;
}
.mainMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.mainMenu li {
    position: relative;
    display: inline;
    float: left;
}

.mainMenu li a {
    display: block;
    padding: 14px 20px 14px;
    text-decoration: none;
}
.mainMenu li a:hover
{
    background: #F5F5F5;
}
.panel
{
    background-color: #ffffff;
    border: 1px solid #e3e8ed;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-color: #e3e8ed;
    background: #f7f8f9;
}
.table_header th
{
    background: white;
    border-right: 1px solid #e0e4e8;
    border-bottom: 1px solid #e0e4e8;
    padding: 7px 10px;
    text-align: left;
}
.table_header th:last-child
{
    border-right: none;
}
.view-table td
{
    border-bottom: 1px solid #e0e4e8;
    padding: 5px 10px;
}
.view-table a:hover
{
    color: #22baa0;
}
a.ic, .view-table a.ic
{
    color: #3a5a7a;
    font-size: 14px;
}
a.ic:hover
{
    color: rgb(192, 58, 58);
}
.view-table tr:hover
{
    background: #F7FCF9;
}
.view-table tr.selected
{
    background: #F7FCF9 !important;
}
.view-table input[type='checkbox']
{
    margin-top: 3px;
}
.view-table .td_center
{
    text-align: center;
}
.panel-footer {
    padding: 10px 12px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #e3e8ed;
    background: #f7f8f9;
}
.btn-white {
    padding: 6px 12px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05);
    color: #657483;
    background-color: #fff;
    border: 1px solid #c3c6c9;
}
.btn-white:hover
{
    background-color: #f7f8f9;
}
.tool-bar
{
    float: right;
}
.tool-bar .btn
{
    padding: 10px 15px;
    margin-bottom: 15px;
}
.form_item
{
    margin: 10px 15px;
}
.mini-tool
{
    float: right;
    margin: 4px;
    padding: 4px;
    background: white;
    border: 1px solid #e3e8ed;
    border-radius: 3px;
}
.mini-tool i
{
    margin: 0 7px;
}
/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}
.current
{
    background: #11769e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #11769e 0%, #11339b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11769e), color-stop(100%,#11339b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11769e 0%,#11339b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #11769e 0%,#11339b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */

}

input[type="text"].busy
{
    background: #FAE5E5;
}
input[type="text"].not-busy
{
    background: #ECF8F0;
}



.top_form   
    {
    height: 38px; 
    margin-bottom: 20px;
    border-bottom: 1px solid #0000B1;
    
     background: #11769e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #11769e 0%, #11339b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11769e), color-stop(100%,#11339b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11769e 0%,#11339b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #11769e 0%,#11339b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */
  
    }
.lockscreen
    {
    background: url(/design/img/lockscreen.png);
    height: 22px;
    width: 22px;
    float:left;
    margin: 8px;
    }
.form_item input[type='text'], .f
	{
    width: 400px;
    font-size: 12px;
    }
.short 
    {
    width:150px;
    }
.select
    {
    margin: 0;
    width: 323px;
    }
.input_auth
    {
    width: 157px;
    margin-bottom: 4px;
    outline: none;
    }
.label 
	{	
    font-family: Tahoma, Geneva, sans-serif;
	width: 110px;
	text-align:right;
	float:left;
	padding:5px 10px 0 0;
	color:#FFF;
    text-shadow: #363636 1px 1px 2px;
	}
.input_form label
{
    color: #B4B4B4;
    width: 85px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align:right;
    float:left;
    padding:5px 10px 0 0;
    text-shadow: #363636 1px 1px 2px;
}
.clear
{
    clear: both;
    float: none;
}
.button 
	{
	text-align:right;
	margin-right: 45px;
	}
.button input
    {
    padding: 4px 20px;
    }
.menu_item 
	{
	background-color:#FFFF80;
	width: 150px;
	padding: 3px 10px 3px 20px;
	}

.extra  
    {

    position: absolute;
    left: 330px;
    top: 237px;
    }
.preview 
    {
    height: 235px;    
    width: 235px;
    float:left;
    margin-left: 5px;
    }
.img_preview 
    {    
    width: 235px;
    margin: 0 0 10px 5px;
    float:left;
    text-align: center;
    background: #6F6F81;
    }

.add_edit_form, #search-cont
    {
    background: url(/design/img/hatch.png) #78787E;
    border: 1px solid #505052;
    padding: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    }
.fields_block
{
    width: 550px;
    float: left;
}
.right_block
{
    text-align: center;
    float: left;
    margin-left: 20px;
}


.lock 
	{
	height:40px;
	width: 40px;
	padding: 10px 15px 0px 45px;
	float:left;
	}
.link a
    {
    font-size: 12px;
    }
.prev_img
    {
    height: 90px;
    width: 115px;
    float:left;
    margin: 0 0 5px 5px;   
    }
.other_image
    {
    float:left;
    margin-top: 10px;
    }
.add_other_image_form 
    {
    float:left;
    }   
.img_blok 
    {
    width: 245px;
    }   
.del
    {
    position: relative;
    bottom: 87px;
    left: 90px;
    }   

.admin
    {
    float: right;
    margin: 10px 30px 10px 5px;
    color: #639BF0;
    font-size: 20px;
    }
.bottom
    {
    height: 30px;
    background: url(/design/img/header_r.png);
    }

.new 
    {
    margin: 8px 0 7px 7px;
    padding: 3px 12px 7px 12px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(5, 92, 88);
    text-shadow: 1px 1px 0px black;
    border-radius: 5px;
    background: rgb(10, 145, 145);
    box-shadow: 1px 0px 5px rgb(62, 202, 207) inset;
    cursor: pointer;
    outline: none;
    } 
#new
    {
    position: absolute;
    right: 24px;
    top: -6px;
    }
.new:hover
    {
    background: #0E7777;
    }
.new2
    {
    height: 43px; 
    }
.new span
    {
    font-size: 14px;
    margin: 3px;
    display: block;
    float: left;
    padding: 3px 0 0 4px;
    } 
.new img
    {
    margin-top: 3px;
    }
a.new:hover
    {
    color: white;
    }

span.error2
    {
    color: #960606;
    text-shadow: #918080 1px 1px 2px;
    }
.alert 
    {
    padding: 4px 20px 0 0;
    float:right;
    }


#tabs
    {
    margin: 20px 0 0 0;
    }
.user
    {
    padding: 5px 10px;
    }
.user_block
    {
    overflow: auto;
    float: none;
    clear: both;
    }
.user_form
    {
    display: none;
    width: 350px;
    padding: 15px;
    margin: 0 10px 10px 0; 
    background-color: #6F6F81;
    border: 1px solid #505052;
    float: left;  
    
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    }
#submit_btn, #cancel, #add_tags, .ml15
    {
    padding: 8px 20px;
    }
#add_tags
    {
    float: right;
    margin-top: 10px;
    }
.w2
    {
    margin: 10px 0 0 60px;
    }
    
.statistic
    {
    opacity: 0;
    background: url(/design/img/hatch.png);
    padding: 20px;
    width: 400px;
    margin: 150px 50px 50px 50px;
    float: right;
    border: 1px solid #575757;
    }
.statistic table td
    {
    color: white;
    background: #5E5B70;
    padding: 3px 10px;
    }
.statistic table label
    {
    color: #DFDFDF;
    }
#name
    {

    }
.view-table
    {
    width: 100%;
    }
.view-table a, .view-table
{
    font-size: 12px;
}

.view-table .even
    {
    background: #E3E3E3;
    }
.view-table .odd
    {
    background: #C7C7C7;
    }




.w40
    {
    width: 40px;
    }
.pos
    {
    width: 23px;
    }
.online
    {
    font-size: 10px;
    color: #DBDBDB;
    }
#tags
    {
    width: 245px;
    }
.add_edit_form label.label
    {
    width: auto;
    }
.sign
    {
    font-style: italic;
    color: #B9B9B9;
    }
.delTag
    {
    padding: 2px;
    }
.tagItem
    {
    color: gainsboro;
    display: block;
    float: left;
    }
.tagItem:hover
    {
    color: White;
    cursor: pointer;
    }
#output
    {
    overflow: auto;
    }
.er404 {
    border: 2px solid #747A86;
    margin: 100px auto;
    width: 600px;
    padding: 20px;
    color: #111464;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #454555;
    text-shadow: 1px 1px 3px #868686;
}
.er404 span {
    font-size: inherit;
    color: #57271E;
}
.er404 img
    {
    float: left;
    margin-right: 15px;
    }
#count_order
    {
    margin: 0 0 0 5px;
    position: relative;
    bottom: 7px;
    font-size: 12px;
    color: white;
    background: red;
    padding: 1px 4px 2px;
    border: 3px solid white;
    border-radius: 20px;
    }    
.letter
    {
    background: url(/design/img/letters.png);
    height: 29px;
    width: 29px;
    display: block;
    padding: 0;
    }
.view
    {
    background-position-x: 28px;
    }
a.msg
    {
    font-weight: bold;
    }
a.view
    {
    font-weight: normal;
    color: #3D3D3D;
    }
.textView
    {
    padding: 13px;
    background: gainsboro;
    font-size: 14px;
    line-height: 18px;
    }
    
div.new
    {
    padding: 8px 20px;
    }
.st
    {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
    }
.st li
    {
    color: #D6D6D6;
    margin: 3px 0;
    }
.st span
    {
    font-size: 12px;
    }
.setSite
    {
    display: block;
    padding: 5px 10px;
    clear: both;
    background: #CFCFCF;
    margin: 4px 0;
    border-radius: 5px;
    border: 1px solid #818181;
    }
.ml15
    {
    margin-left: 10px;
    }
.disable, .disable:hover
    {
    color: #A09999;
    cursor: text;
    }
.table_bottom 
{
    background: rgb(23, 59, 114);
    margin: 0 1px;
    border: 1px solid rgb(15, 86, 184);
    color: white;
    padding: 0 15px;
    overflow: hidden;
    zoom:1;
}   
.header span
{
    display: inline-block;
    height: 9px;
    width: 17px;
    position: absolute;
    right: 7px;
    top: 10px;
    padding: 0;
    overflow: hidden;
}
.headerSortDown span 
{
    background: url(/design/img/arrow_sprite.png) 0 -14px;
}
.headerSortUp span
{
    background: url(/design/img/arrow_sprite.png) 0 -3px;
}
.next, .last, .prev, .first
{
    display: block;
    float: left;
    height: 17px;
    width: 11px;
    background: url(/design/img/arrow_sprite.png) -4px -26px;
    cursor: pointer;
    margin: 8px 0 0 0;
}
.last
{
    background-position: -3px -61px;
} 
.prev
{
    background-position: -2px -44px;
}
.first
{
    background-position: -3px -80px;
}

.radio_span
{
    padding: 0 5px 0 0;
    font-size: 12px;
    color: white;
}




.search_bar
{
    background: #CBD8EC!important;
}
.search_bar td
{
    border: 1px solid rgb(42, 85, 124);
}


.search_bar input[type='text'], .search_bar select
{
    font-size: 10px;
    padding: 1px 3px 2px;
    width: 100%;
}
#result
{
    position: absolute;
    background: rgb(232, 239, 243);
    padding: 4px;
    border: 1px solid black;
    display: none;
}
#result div
{
    padding: 2px 7px;
    margin: 0 -4px;
}
#result div:hover
{
    background: white;
    cursor: pointer;
}
#result span
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: rgb(209, 223, 241);
    font-weight: bold;
}
#result .select
{
    background: rgb(255, 255, 255);
    width: auto;
}
.pager
{
    overflow: hidden;
    float: left;
}
.right_panel
{
    position: absolute;
    left: 880px;
    top: 176px;
}
#search-cont
{
    border: 1px solid #4C4B57;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    zoom:1;
    display: none;
}
#search-cont label
{
    width: 90px;
    display: inline-block;
    text-align: right;
    color: white;
}
#search-cont p
{
    margin: 5px 0;
}
#search-cont h1
{
    font-size: 16px;
    margin: 10px 10px 20px;
    border-bottom: 1px solid #919191;
    padding-bottom: 5px;
}
#search-cont h1 span
{
    font-size: 12px;
    color: rgb(9, 9, 71);
    margin-left: 30px;
    background: #78787E;
}
#search-cont h1 span b
{
    color: rgb(11, 175, 129);
}
#search-cont form
{
    width: 340px;
}
#search-cont input[type="text"]
{
    width: 200px;

}
.auth-name
{
    display: block;
    padding: 10px 10px 0;
    color: white;
}
.visible
{
    display: block !important;
}